
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
a{
    color: #000;
}

header {
  background-color: #663399;
  color: #fff;
  text-align: center;
  padding: 10px;
}

h1 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#rainbow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 500px;
}

.stripe {
  width: 300px;
  height: 65px;
  margin: 5px;
}

.red {
  background-color: #ff4136;
}

.orange {
  background-color: #ff851b;
}

.yellow {
  background-color: #ffdc00;
}

.green {
  background-color: #2ecc40;
}

.blue {
  background-color: #0074d9;
}

.indigo {
  background-color: #3d2b1f;
}

.violet {
  background-color: #b10dc9;
}